<p id="notice"><%= notice %></p>

<h1>Customers</h1>

<div class="container">
<table id="customers-datatable" class="table table-striped" data-source="<%=
customers_path(format: :json) %>">
 <thead class="thead-dark">
 <tr>
 <th>ID</th>
 <th>Name</th>
 <th>Email</th>
 <th>Phone</th>
 </tr>
 </thead>
 <tbody>
 </tbody>
</table>
</div>

<br>

<%= link_to 'New Customer', new_customer_path %>
